<!doctype html>
<html lang='en'>
  <head>
    <title>Chitter</title>
    <meta charset='utf-8'>
     <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
    <%- body %>
  </body>
</html>