<h1> <%=title%><h1>
<form name="adduser" method="post" action="/adduser" >
	<input type="text", placeholder="username", name="user_username"/>
	<input type="text", placeholder="email", name="user_email"/>
	<input type="text", placeholder="name", name="user_name"/>
	<input type="submit" />
</form>
